body {
    margin: 0px;

}

nav {
    background-color: rgb(201, 157, 64);
    padding: 1.5rem;
    border-bottom: 1px solid black
}

nav ul li {
    display: inline;
    margin: 1.5rem;
    color: whitesmoke
}

section{
    background-color:rgb(201, 203, 237);
    border: 1px solid black;
    margin: 0 auto;
    padding: 1rem;
}

FOOTER {
    background-color: rgb(218, 237, 201);
    border-top: 1px solid black;
    padding: 1.5rem;
    margin-top: 1rem;
}