body{font: 1em/150% Helvetica, Arial, sans-serif; 
    padding: 1em 0em 0em 0em; 
    margin: 0 auto;
    max-width: 40em;
}

@media (min-width: 70em) {
    body {font-size:120%}
}

nav {
    background-color: rgb(201, 157, 64);
    padding: 1rem;
    border-bottom: 1px solid black;
}

nav ul li {
    display: inline;
    justify-content: center;
    margin: 1.5em;
    color: whitesmoke;
}


section{
    background-color:rgb(201, 203, 237);
    border: 1px solid black;
    margin: 0 auto;
    padding: 1rem;
}

footer {
    background-color: rgb(218, 237, 201);
    border-top: 1px solid black;
    padding: 1.0rem;
    margin-top: 1rem;
}

/*This scales image to window size and prevents the image from becoming pixelated*/
img{
    max-width: 100%;
    height: auto;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 95%;
  }